<template>
  <div>
    Hello
  </div>
</template>

<script>
export default {
  name: "DashboardPage",
  props: {},
  components: {},
  data: function () {
    return {}
  },
  methods: {},
  computed: {}
};
</script>