<template>
  <v-row class="d-flex py-16">
    <v-col cols="4" class="py-0 text-no-wrap">
      <settings-menu></settings-menu>
    </v-col>
    <v-col cols="8" class="py-0">
      <div class="card">
        <div class="card-header">Contact Information</div>
        <div class="card-body">
          <form 
            id="profileForm"
            @submit.prevent="updateProfile"
          >
            <input type="hidden" name="_token" :value="csrf" />
            <div class="form-group row">
              <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
              <div class="col-md-6">
                <input id="name" type="text" class="form-control" name="name" required autocomplete="name" :value="user.name"> 
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
              <div class="col-md-6">
                <input id="email" type="email" class="form-control" name="email" :value="user.email" required autocomplete="email">
              </div>
            </div>

            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </v-col>
  </v-row>
</template>

<script>
import SettingsMenu from '../layouts/SettingsMenu.vue';

export default {
  name: "ProfilePage",
  props: {
    user: {
      type: [Object, Boolean],
      require: true
    }
  },
  components: {
    SettingsMenu
  },
  data: () => ({
        csrf: document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content"),
  }),
  methods: {
    updateProfile() {
      var name = $("#name").val();
      var email = $('#email').val();
      axios.post('../api/settings/profile', {name: name, email: email})
          .then(function(){
            $("#navbarDropdown").html(name);
          });
    },
  },
  computed: {}
};
</script>