<template>
  <v-row class="d-flex py-10">
    <v-col cols="4" class="py-0 text-no-wrap">
      <settings-menu></settings-menu>
    </v-col>
    <v-col cols="8" class="py-0">
      <v-item-group id="choiceProvider" v-if="choiceProvider">
        <v-container>
          <v-row>
            <v-col
              v-for="(item, i) in providers"
              :key="i"
              cols="12"
              md="4"
            >
            <v-card>
              <v-item class="pa-3 elevation-3">
                <div>
                <v-img
                  :src="item.logo"
                  height="150"
                  class="text-right pa-2"
                  @click="selectProvider(i)"
                  contain
                >
                </v-img>
                </div>
              </v-item>
            </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-item-group>

      <v-card class="card" id="emptyToken" v-if="emptyToken">
        <div class="card-header">{{titleForm}} {{currentProviderIndex>-1 ? providers[currentProviderIndex].name : ''}} Token</div>
        <div class="card-body">
          <form 
            id="tokenForm"
            @submit.prevent="addToken"
          >
            <input type="hidden" name="_token" :value="csrf" />
            <div class="form-group row">
              <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
              <div class="col-md-6">
                <input id="name" type="text" class="form-control" name="name" required v-model="token.name"> 
              </div>
            </div>

            <div class="form-group row">
              <label for="token" class="col-md-4 col-form-label text-md-right">Token</label>
              <div class="col-md-6">
                <input id="token" type="text" class="form-control" name="token" required v-model="token.access_token">
              </div>
            </div>

            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  {{submitForm}}
                </button>
              </div>
            </div>
          </form>
        </div>
      </v-card>


      <v-card class="card mt-5" v-if="listToken">
        <div class="card-header">{{providers[currentProviderIndex].name}} API Token</div>
        <div class="card-body">
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">
                    Name
                  </th>
                  <th class="text-left">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ token.name }}</td>
                  <td class="text-right">
                    <v-icon
                      small
                      class="mr-2"
                      @click="editToken()"
                    >
                      mdi-pencil
                    </v-icon>
                    <v-icon
                      small
                      @click="deleteToken()"
                    >
                      mdi-delete
                    </v-icon>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
           <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">Are you sure you want to delete this token?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import SettingsMenu from '../layouts/SettingsMenu.vue';

export default {
  name: "ProvidersPage",
  props: { },
  components: {
    SettingsMenu
  },
  data: () => ({
    csrf: document
      .querySelector('meta[name="csrf-token"]')
      .getAttribute("content"),
    providers: [],
    token: {'name': '', 'access_token': ''},
    choiceProvider: true,
    currentProviderIndex: -1,
    titleForm: '',
    submitForm: '',
    emptyToken: false,

    listToken: false,
    
    dialogDelete: false,
  }),
  watch: {
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },
  methods: { 
    fetchProviders() {
      axios
        .get("/api/providers")
        .then(response => {
          this.providers = response.data.providers;
        })
        .catch(error => {
          console.log(error);
        });
    },
    selectProvider(i) {
      var _this = this;
      if(this.currentProviderIndex < 0) {
        _this.currentProviderIndex = i
      };
      this.choiceProvider = false;
      axios
        .get("/api/provider/token/" + _this.providers[_this.currentProviderIndex].id)
        .then(response => {
          if(!(response.data.token)) {
            _this.emptyToken = true;
            _this.titleForm = 'Add ';
            _this.submitForm = 'Create';
            _this.listToken = false;
          } else {
            _this.token.name = response.data.token.name;
            _this.token.access_token = response.data.token.access_token;
            _this.emptyToken = false;
            _this.listToken = true;
            _this.titleForm = 'Edit ';
            _this.submitForm = 'Save';
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    addToken() {
      var _this = this;
      var input = this.token;
      axios
        .post('../api/provider/token', {providerId: _this.providers[_this.currentProviderIndex].id, input})
          .then(function(){
            $("#tokenForm")[0].reset();
            _this.selectProvider();
          });
    },
    editToken() {
      this.emptyToken = true;
      this.listToken = false;
    },
    deleteToken() {
      this.dialogDelete = true
    },
    deleteItemConfirm () {
      var _this = this;
      axios
        .post('../api/provider/token/delete/' + _this.providers[_this.currentProviderIndex].id)
        .then(function(){
          _this.closeDelete();
          _this.token.name = '';
          _this.token.access_token = ''; 
          _this.selectProvider();
      });
    },
    closeDelete () {
      this.dialogDelete = false
    },
  },

  mounted() {
    this.fetchProviders();
  },
};
</script>