<template>
  <v-row class="d-flex py-10">
    <v-col cols="4" class="py-0 text-no-wrap">
      <settings-menu></settings-menu>
    </v-col>
    <v-col cols="8" class="py-0">
      <div class="card">
        <div class="card-header">Add SSH Public Key</div>
        <div class="card-body">
          <form 
            id="sshForm"
            @submit.prevent="addKey"
          >
            <input type="hidden" name="_token" :value="csrf" />
            <div class="form-group row">
              <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
              <div class="col-md-6">
                <input id="name" type="text" class="form-control" name="name" required> 
              </div>
            </div>

            <div class="form-group row">
              <label for="publicKey" class="col-md-4 col-form-label text-md-right">Public Key</label>
              <div class="col-md-6">
                <textarea id="publicKey" type="text" class="form-control" name="public_key" required>
                </textarea>
              </div>
            </div>

            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-success">
                  Add Key
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-header">SSH Keys</div>
        <div class="card-body">
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">
                    Name
                  </th>
                  <th class="text-left">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in keys"
                  :key="item.id"
                >
                  <td>{{ item.name }}</td>
                  <td class="text-right">
                    <v-icon
                      small
                      @click="deleteItem(item.id)"
                    >
                      mdi-delete
                    </v-icon>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
           <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">Are you sure you want to delete this key?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import SettingsMenu from '../layouts/SettingsMenu.vue';

export default {
  name: "SshKeysPage",
  props: { },
  components: {
    SettingsMenu
  },
  data: () => ({
    csrf: document
      .querySelector('meta[name="csrf-token"]')
      .getAttribute("content"),
    keys: [],
    dialogDelete: false,
    editedIndex: -1,
  }),
  watch: {
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },
  methods: {
    addKey() {
      var name = $("#name").val();
      var public_key = $('#publicKey').val();
      axios
        .post('../api/settings/key', {name: name, public_key: public_key})
          .then(function(){
            $("#sshForm")[0].reset();
          });
      this.fetchKeys();
    },
    fetchKeys() {
      axios
        .get("/api/ssh_keys")
        .then(response => {
          this.keys = response.data.keys;
        })
        .catch(error => {
          console.log(error);
        });
    },
    deleteItem (id) {
      this.editedIndex = id
      this.dialogDelete = true
    },
    deleteItemConfirm () {
      var _this = this;
      axios
        .post('../api/settings/key/delete/' + this.editedIndex)
        .then(function(){
          _this.closeDelete()
          _this.fetchKeys();
      });
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedIndex = -1
      })
    },
  },

  mounted() {
    this.fetchKeys();
  },
};
</script>