<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                Hosting Platform
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">

                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Authentication Links -->
                    <li v-if="user === false" class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>                  
                        
                    <li v-if="user === false" class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                        
                    <li v-if="user !== false" class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.name }}
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <span class="dropdown-item caption"> Settings </span>
                            <a class="dropdown-item" href="/settings/profile">
                                Your Settings
                            </a>
                            <v-divider/>
                            <a class="dropdown-item" href="/logout" @click.prevent="logout">
                                Logout
                            </a>
                        </div>
                        <form
                            id="logout-form"
                            action="/logout"
                            method="POST"
                            style="display: none;"
                        >
                            <input type="hidden" name="_token" :value="csrf" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
import _ from "lodash";
import { mapState } from "vuex";

export default {
    name: "AppBar",
    props: {
        user: {
            type: [Object, Boolean],
            require: true
        }
    },

    data: () => ({
        csrf: document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content")
    }),

    computed: {
    },

    watch: {},

    methods: {
        logout() {
            document.getElementById("logout-form").submit();
        }
    },

    mounted() {
        console.log('user ', this.user.name);
    }
};
</script>
