<template>
  <div>
    <v-app id="inspire">
      <app-bar :user="user"></app-bar>
      <v-main style="background-color: #ECEFF1;">
        <v-container fluid pa-4>
          <slot ></slot>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import AppBar from "./AppBar";

export default {
  name: "AppLayout",
  props: {
    user: {
      type: [Object, Boolean],
      require: true
    }
  },
  components: {
    AppBar
  },
  data: function () {
    return {}
  },
  methods: {},
  mounted() {},
  computed: {}
};
</script>