<template>
  <v-list flat dense style="background-color: #ECEFF1;">
    <span class="overline">Settings</span>
    <v-list-item-group
      v-model="model"
      color="indigo"
    >
      <v-list-item v-for="item of settingMenu" :key="item.title" :href="item.url">
        <v-list-item-action v-if="item.icon">
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<script>
export default {
    name: "SettingsMenu",
    props: { },
    data: () => ({
      settingMenu: [
      {
        title: "Profile",
        url: "/settings/profile",
        icon: "mdi-square-edit-outline"
      },
      {
        title: "SSH Keys",
        url: "/settings/ssh_keys",
        icon: "mdi-account-key"
      },
      {
        title: "DNS Providers",
        url: "/settings/providers",
        icon: "mdi-hexagon-multiple"
      }
      ],
    }),
    computed: {
      model() {
        if(window.location.pathname == "/settings/profile") {
          return 0;
        } else if(window.location.pathname == "/settings/ssh_keys") {
          return 1;
        } else {
          return 2;
        }
      }
    }
};
</script>
